/* General styling for body */
body {
    margin: 0;
    padding: 0;
    background-image: url('image/Background keseluruhan.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/* Logo image styling */
.logo {
    padding: 10px;
    width: 20%;
}

/* Container styling */
.container {
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    text-align: center;
    max-width: 400px;
    margin-top: 10vh;
}

/* Input styling */
input[type="number"] {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

/* Button container styling */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* Button styling */
button[type="submit"],
button[type="reset"],
.exit-button,
.hint-button {
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 100px;
    transition: background-color 0.3s ease;
}

button[type="reset"] {
    background-color: #dc3545;
}

.hint-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgb(83, 83, 240);
}

.hint-button:hover {
    filter: brightness(1.2);
}

/* Tombol Exit styling */
.exit-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 999;
}

.exit-button:hover {
    filter: brightness(1.2);
}

/* Score styling */
.score {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 30px;
    cursor: default;
    z-index: 999;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* Guesses Left styling */
.guesses-left {
    position: fixed;
    font-family: 'Poppins', sans-serif;
    bottom: 20px;
    left: calc(50% - 50px); /* Pusat horizontal */
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: default;
    z-index: 999;
}
